@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Reset */
html, body, .display-wrapper, #initial-landing, #user-landing {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/* Start all divs as hidden, setting display later with script */
.display-wrapper {
  display: none;
}

#initial-landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  font-size: 2.5em;
}

#username-input {
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px black solid;
  text-align: center;
  font-size: 2em;
}

#welcome-message {
  height: 4em;
  line-height: 4em;
  margin: 0 0 4rem 0;
  text-align: center;
  font-size: 2em;
}

#text-info-wrapper, #chart-wrapper {
  width: 50%;
}

#text-info-wrapper {
  float: right;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

#chart-wrapper {
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Grid code inspired by patrickkunka on Codepen.io */
/* Color scheme inspired by CSSconf EU 2017 website */

.square {
  width: 20rem;
  height: 10rem;
  margin: 0.5rem;
  color: white;
  position: relative;
}

.square h3 {
  font-size: 4em;
  margin: 0;
  padding: 0.75em 0 0 0.25em;
}

.square p {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  padding: 0.5em;
}

#username-reset {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 1px;
  background-color: white;
}

#contributions-today {
  background-color: #ea3a3a;
}

#contributions-streak {
  background-color: #42cdb2;
}

#pinned-repos-stars {
  background-color: #fbc227;
}

#pinned-repos-forks {
  background-color: #3ec446;
}

#follower-count {
  background-color: #ff6d56;
}

#following-count {
  background-color: #fa99b4;
}

@media only screen and (max-width: 1370px) {
  #text-info-wrapper {
    margin-top: 5rem;
  }
  
  .square {
    width: 17rem;
    height: 7rem;
    margin: 0.5rem;
  }
  
  .square h3 {
    font-size: 1.5rem;
    padding-top: 1.5em;
  }
  
  .square p {
    font-size: 1em;
  }
}

@media only screen and (max-width: 1180px) {
  #chart-wrapper {
    display: inline-block;
  }
  
  #text-info-wrapper {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 2.5rem;
  }
  
  .square {
    margin: 0;
    width: 100%;
    height: 6em;
  }
  
  .square h3 {
    font-size: 1.5rem;
    float: left;
    margin: 1.25rem 0.5rem;
    padding:0;
  }

  .square p {
    font-size: 1em;
    font-weight: bold;
    margin: 2rem 0.5rem;
    float: right;
    padding:0;
    position: relative;
  }
}

@media only screen and (max-width: 830px) {
  #chart-wrapper {
    display: none;
  }
  
  #text-info-wrapper {
    float: left;
    width: 100%;
    flex-direction: row;
  }
  
  .square {
    width: 17rem;
    height: 7rem;
    margin: 0.5rem;
  }
  
  .square h3 {
    font-size: 1.5rem;
    margin: 0;
    padding: 1.5em 0 0 0.25em;
    float: none;
  }
  
  .square p {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
  }
}

@media only screen and (max-width: 590px) {
  #text-info-wrapper {
    flex-direction: column;
    margin: 0;
  }
  
  .square {
    margin: 0;
    width: 100%;
    height: 6em;
  }

  .square h3 {
    font-size: 1.5rem;
    float: left;
    margin: 1.25rem 0.5rem;
    padding:0;
  }

  .square p {
    font-size: 1em;
    font-weight: bold;
    margin: 2rem 0.5rem;
    float: right;
    padding:0;
    position: relative;
  }
}